#sort-and-search{
    display: grid;
    grid-template-columns: 750px 100px;
    grid-template-rows: auto;
    grid-template-areas:
    "buttons search"
    "sorting .";
}

#sort-and-search > #filter-buttons{
    grid-area: buttons;
}

#sort-and-search > #search-candidate {
    grid-area: search;
}

#sort-and-search > #sorting {
    grid-area: sorting;
}

#candidates-list {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 204px));
}

.candidate-card {
    position:relative;
    border: black solid 2px;
    border-radius: 10px;
    padding: 0;
    grid-template-areas:
    "image"
    "image"
    "text";
}

.candidate-image {
    grid-area: image;
    margin: 0;
}
.candidate-image > img {
    border-radius: 10px;
}

.candidate-text {
    grid-area: text;
}

.party-letter {
    font-size: 25px;
    border: black solid 1px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    text-align: center;
}

.party-letter-button {
    margin: 5px;
}

.button-delete {
    font-size: 20px;
    position:absolute;left:0;top:0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.button-edit {
    font-size: 20px;
    position:absolute;right:0;top:0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}